<mat-card class="home-container" #profileCard>

  <mat-card class="profile-card">

    <mat-grid-list cols="3" rowHeight="3:2">

      <mat-grid-tile colspan="2">

        <mat-grid-list cols="2" rowHeight="40px" class="details-section">

          <mat-grid-tile colspan="2">
            <h1> <mat-icon>person</mat-icon> {{name}} </h1>
          </mat-grid-tile>

          <mat-grid-tile>
            <h2> <mat-icon>engineering</mat-icon> {{role}} </h2>
          </mat-grid-tile>

          <mat-grid-tile>
            <h3> <mat-icon>mail</mat-icon> {{email}} </h3>
          </mat-grid-tile>

          <mat-grid-tile>
            <h3> <mat-icon>work</mat-icon> {{works}} </h3>
          </mat-grid-tile>

          <mat-grid-tile>
            <h3> <mat-icon>phone</mat-icon> 
              {{phone}} 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </h3>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <h3> <mat-icon>home</mat-icon> {{address}}</h3>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <h3> <mat-icon>3p</mat-icon> {{about}} </h3>
          </mat-grid-tile>

          <!-- <mat-grid-tile colspan="2">
            <h2>
              <mat-icon>link</mat-icon>                            
              <a [href]=linkedIn>Linked In</a>
              <a [href]=githubLink>Git Hub</a>
              <a [href]=githubLink>youtube</a>
            </h2>
          </mat-grid-tile>   -->

        </mat-grid-list>

      </mat-grid-tile>

      <mat-grid-tile>
        <div class="profile-picture">
          <img [src]="IMAGE_PATH" alt="Profile Picture">
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card>

  <mat-card class="body-card">

    <mat-grid-list cols="3" rowHeight="175px">

      <mat-grid-tile colspan="2" rowspan="5">

        <mat-card class="projects-card" appearance="outlined" style="width: 100%;"> 

          <mat-card-header>
            <mat-card-title><mat-icon>work_history</mat-icon> Work Experience</mat-card-title>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content>

            . <mat-list role="list" *ngFor="let experience of workExperience">

              <mat-list-item role="listitem" style="height: 100%;width: 100%;">

                <mat-card class="experience-card" appearance="outlined">

                  <mat-card-header>
                    <div class="header-content">

                      <mat-card-title>
                        <mat-icon>engineering</mat-icon>
                        {{experience.jobTitle}}
                      </mat-card-title>

                      <mat-card-subtitle class="period">
                        <mat-icon>calendar_month</mat-icon> {{experience.startDate}} - {{experience.endDate ??
                        'present'}}
                      </mat-card-subtitle>

                    </div>

                  </mat-card-header>

                  <p class="org-location">
                    <mat-icon>location_city</mat-icon>
                    {{experience.org}} , {{experience.location}}
                  </p>

                  <mat-divider></mat-divider>

                  <mat-card-content>
                    <div class="projects-card-point">
                      <strong> <mat-icon [svgIcon]="roles"></mat-icon> Roles & Responsibilities : </strong>
                    </div>

                    <mat-list *ngFor="let rb of experience.resp">
                      <mat-list-item style="height: 100%;width: 100%;">
                        <div class="projects-card-point">
                          <mat-icon>adjust</mat-icon> {{rb}}
                        </div>
                      </mat-list-item>
                    </mat-list>

                    <!-- <br>
                    @for (rb of experience.resp; track rb) {              
                      <div class="projects-card-point">
                        <p>
                          <mat-icon matSuffix>adjust</mat-icon>
                          {{rb}}
                        </p>
                      </div>
                      } -->

                  </mat-card-content>

                </mat-card>

              </mat-list-item>

            </mat-list>

          </mat-card-content>

        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>

        <mat-card class="skills-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>psychology</mat-icon> Skills</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>

            <mat-chip-listbox>
              @for (skill of skills; track skill) {
              <mat-chip-option>{{skill}}</mat-chip-option>
              }
            </mat-chip-listbox>

          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>

        <mat-card class="certificates-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>card_membership</mat-icon> Certifications</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>

            <mat-chip-listbox>
              @for (cert of certifications; track cert) {
              <mat-chip-option>{{cert.title}} ({{cert.startDate}} / {{cert.endDate ?? 'Present'}})</mat-chip-option>
              }
            </mat-chip-listbox>

          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile rowspan="3">

        <mat-card appearance="outlined" style="width: 80%; height: 100%;">
          <mat-card-header>
            <mat-card-title><mat-icon>school</mat-icon> Education</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <mat-card class="educations-card" *ngFor="let education of educations" style="margin: 10px;">
              <mat-card-header>
                <div class="header-content">
                  <mat-card-title>
                    <mat-icon [svgIcon]="education.title == 'MCA' ? computer : finance"></mat-icon>
                    {{education.title}}
                  </mat-card-title>

                  <mat-card-subtitle class="period">
                    <mat-icon>calendar_month</mat-icon> {{education.start}} - {{education.end}}
                  </mat-card-subtitle>
                </div>

              </mat-card-header>

              <mat-divider></mat-divider>

              <mat-card-content>

                <br>
                <div class="educations-card-point">
                  <mat-icon>location_city</mat-icon>
                  {{education.insititue}}, {{education.address}}
                </div>
                <br>
                <div class="educations-card-point">
                  <mat-icon>percent</mat-icon>{{education.score}}
                </div>
                <br>
                <div class="educations-card-point">
                  <mat-icon [svgIcon]="eduSpecial"></mat-icon> {{education.course}}
                </div>

              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="9">

        <mat-card class="projects-card" appearance="outlined" style="width: 100%;">

          <mat-card-header>
            <mat-card-title><mat-icon>history_edu</mat-icon> Personal Projects</mat-card-title>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content>

            <mat-list *ngFor="let experience of personalExperience">

              <mat-list-item style="height: 100%; width: 100%;">

                <mat-card class="experience-card" appearance="outlined">
                  <mat-card-header>
                    <div class="header-content">

                      <mat-card-title>
                        <mat-icon [svgIcon]="experience.fornt == 'Angular' ? web : desktop "></mat-icon>
                        {{experience.title}}
                      </mat-card-title>

                      <mat-card-subtitle class="period">
                        <mat-icon>calendar_month</mat-icon><strong> Year : {{experience.year}} </strong>
                      </mat-card-subtitle>

                    </div>

                  </mat-card-header>

                  <mat-divider></mat-divider>

                  <mat-card-content>
                    <br>
                    <div class="projects-card-point">
                      <strong><mat-icon>description</mat-icon> {{experience.description}}</strong>
                    </div>

                    @for (point of experience.points; track point) {
                    <div class="projects-card-point">
                      <p style="margin: 10px">
                        <mat-icon>arrow_right</mat-icon> {{point}}
                      </p>
                    </div>
                    }


                  </mat-card-content>

                  <mat-card-footer>
                    <mat-divider></mat-divider>

                    <div class="stack-section">
                      <span><mat-icon>computer</mat-icon> {{experience.fornt}} </span>
                      <span><mat-icon>terminal</mat-icon> {{experience.middle ?? 'N/A'}}</span>
                      <span><mat-icon [svgIcon]="svc"></mat-icon> {{experience.back}}</span>
                    </div>

                  </mat-card-footer>

                </mat-card>

              </mat-list-item>

            </mat-list>

          </mat-card-content>

        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile rowspan="4">
        <mat-card class="achievements-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>emoji_events</mat-icon> Achievements</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>

            @for (achievement of achievements; track achievement) {
            <br>
            <div class="achievements-card-point">
              <p>
                <mat-icon matSuffix>military_tech</mat-icon>
                {{achievement}}
              </p>
            </div>
            }

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="links-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>link</mat-icon> Links</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="links-card-action">
              <ng-container *ngFor="let link of links;">
                <a [href]="link.url" target="_blank" rel="noopener noreferrer">
                  <button mat-icon-button>
                    <mat-icon [svgIcon]="link.icon"></mat-icon>
                  </button>
                </a>
              </ng-container>
            </div>
          </mat-card-content>

        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="interests-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>interests</mat-icon> Interests</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <br>
            @for (interest of interests; track interest) {
            <div class="interests-card-point">
              <p>
                <mat-icon matSuffix>label_important</mat-icon>
                {{interest}}
              </p>
            </div>
            }

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="languages-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>record_voice_over</mat-icon> Languages</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>

            <mat-chip-listbox>
              @for (language of languages; track language) {
              <mat-chip-option>{{language}}</mat-chip-option>
              }
            </mat-chip-listbox>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2">
        <mat-card class="abouts-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title><mat-icon>emoji_people</mat-icon> About Me</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <br>
            @for (about of abouts; track about) {
            <div class="abouts-card-point">
              <p>
                <mat-icon matSuffix>boy</mat-icon>
                {{about}}
              </p>
            </div>
            }

          </mat-card-content>

          <mat-card-actions align="end">
            <div>
              <span class="signature"> Sameer Sheik </span>
          </div>
      
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card>
  <!-- <mat-card-footer style="display: flex; justify-content: center; gap: 20px;">
    <button mat-fab extended color="accent" matTooltip="Download As pdf" (click)="download()">
      <mat-icon>download</mat-icon>
      Download
    </button>

  </mat-card-footer> -->

</mat-card>